.infoTable{
    display:grid;
    width:90%;
    max-width:400px;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row dense;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;

                    
    
    min-height: fit-content;
    div{
        padding:2px;
        border: 1px solid lightgray;
        grid-column-start: 1;
    }
    #infoline{
        grid-column-start: 2;

    }
}
#infoBox{
    min-height: 200px;
    padding:0;
}