.WheelGrid {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 400px;
}

.WheelGrid button {
  position: relative;
  z-index: 10;
}

.WheelGrid .Wheelholders {
  position: absolute;
  top: 120px;
  background-color: darkorange;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 60px;
  max-width: 75px;
}

.WheelGrid .Wheelholders .MagicWheel {
  width: 25px;
  height: 25px;
  background-color: #000;
  border-radius: 50px;
  top: 150px;
  color: black;
}

.ColorWheelWrap {
  position: absolute;
  left: calc(50%-100px);
  max-width: 100%;
  height: 200px;
  z-index: 1;
  top: 50px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.ColorWheelWrap .reinvented-color-wheel--sv-space {
  right: 105px;
  border-radius: 15px;
  height: 60px;
  background-color: crimson;
  border: 0.5px solid black;
}

.ColorWheelWrap2 {
  left: calc(50%-100px);
  top: 50px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: absolute;
  max-width: 100%;
  height: 400px;
  z-index: 2;
}

.ColorWheelWrap2 .reinvented-color-wheel--sv-space {
  left: 105px;
  border-radius: 15px;
  height: 60px;
  background-color: crimson;
  border: 0.5px solid black;
}

.reinvented-color-wheel,
.reinvented-color-wheel--hue-handle,
.reinvented-color-wheel--hue-wheel,
.reinvented-color-wheel--sv-handle,
.reinvented-color-wheel--sv-space {
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  -ms-touch-action: none;
      touch-action: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.reinvented-color-wheel {
  position: relative;
  display: inline-block;
  line-height: 0;
  border-radius: 50%;
}

.reinvented-color-wheel--hue-wheel {
  border-radius: 50%;
}

.reinvented-color-wheel--sv-space {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 30px;
}

.reinvented-color-wheel--hue-handle,
.reinvented-color-wheel--sv-handle {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
  border: 2px solid #fff;
  -webkit-box-shadow: 0 0 0 1px #000 inset;
          box-shadow: 0 0 0 1px #000 inset;
}

.reinvented-color-wheel--hue-handle {
  pointer-events: none;
  z-index: 1000;
  -webkit-box-shadow: 0px 0px 0px 8px #223c50;
          box-shadow: 0px 0px 0px 8px #223c50;
}

.reinvented-color-wheel--sv-handle {
  display: none;
}
/*# sourceMappingURL=ColorWheel.css.map */