.ModeSelector{
    
    display: flex;
    flex-direction: column;
    padding:5px;
    align-items: center;
    justify-content: center;
    height: 60px;

    div{
        margin:0;
        width:90%;
        background-color: white;
        margin-left: auto;
        margin-right: auto;
        user-select: none;

    }

    & .Active{
        background-color: lightgreen;
        &:hover{
            background-color: lightgreen;
        }
    }
}
