.Popup{
    z-index: 1000;
    position:fixed;

    top:0px;
    left:0%;
    height:100%;
    width:100%;
    max-width: 100%;
    background-color: rgba(0,0,0,0.5);
    display:flex;
    align-items: center;
    justify-content: center;
    .textbox{
        
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        max-width: 500px;
        width:80%;
        height: 40%;
        max-height: 400px;
        background-color: white;
        border-radius: 15px;
        padding: 10px;
        font-size: x-large;
        img{
            object-fit:fill;
        }
        &.LoadPopUp{
            height: 60%;
            justify-content: center;
        }
        .UpdateList{
            display:grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto;
            width: 90%;
            overflow-y: scroll;
            :nth-child(1n){
                border-radius: 15px;
                font-size: small;
                text-align: center;
                border: solid 1px lightgray;
                display: flex;
                justify-content: center;
                align-items: center;
                height:fit-content;
                

            }
            :nth-child(2n){
                border-radius: 0 15px 15px 0;
            }
            :nth-child(2n-1){
                border-radius: 15px 0 0 15px;
            }
        }
       
        .popupButtonPanel{
            width:75%;
            height:40px;
            margin-left: 15%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            :last-child{
                background-color: crimson;
            }
            :first-child{
                background-color: greenyellow;
            }
            
            :is(#Agree,#AgreeUpd,#AgreeClosePopup){
                background-color: greenyellow;
                
            }
            :is(#Disagree,#DisagreeUpd){
                background-color: crimson;
                
            }
        }
        .button{
            border-radius: 10px;
            margin: 5px;
            color:white;
            font-size: small;
            text-shadow: 1px 1px black;
        }
    }


}
:is(#Agree,#AgreeUpd,#AgreeClosePopup){
    background-color: greenyellow;}

    :is(#Disagree,#DisagreeUpd){
        background-color: crimson;}

.popupButtonPanel{
    :first-child{
        background-color: greenyellow;
    }
    :last-child{
        background-color: crimson;
    }
}
