.Popup {
  z-index: 1000;
  position: fixed;
  top: 0px;
  left: 0%;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Popup .textbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 600px;
  width: 80%;
  height: 40%;
  max-height: 400px;
  background-color: white;
  border-radius: 15px;
  padding: 10px;
  font-size: x-large;
}

.Popup .textbox img {
  -o-object-fit: fill;
     object-fit: fill;
}

.Popup .textbox.LoadPopUp {
  height: 60%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Popup .textbox .UpdateList {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  width: 90%;
  overflow-y: scroll;
}

.Popup .textbox .UpdateList :nth-child(1n) {
  border-radius: 15px;
  font-size: small;
  text-align: center;
  border: solid 1px lightgray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.Popup .textbox .UpdateList :nth-child(2n) {
  border-radius: 0 15px 15px 0;
}

.Popup .textbox .UpdateList :nth-child(2n-1) {
  border-radius: 15px 0 0 15px;
}

.Popup .textbox .popupButtonPanel {
  width: 100%;
  height: 60px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.Popup .textbox .popupButtonPanel :last-child {
  background-color: crimson;
}

.Popup .textbox .popupButtonPanel :first-child {
  background-color: greenyellow;
}

.Popup .textbox .popupButtonPanel :is(#Agree, #AgreeUpd, #AgreeClosePopup) {
  background-color: greenyellow;
}

.Popup .textbox .popupButtonPanel :is(#Disagree, #DisagreeUpd) {
  background-color: crimson;
}

.Popup .textbox .button {
  border-radius: 10px;
  margin: 5px;
  color: white;
  font-size: smaller;
  text-shadow: 1px 1px black;
}

:is(#Agree, #AgreeUpd, #AgreeClosePopup) {
  background-color: greenyellow;
}

:is(#Disagree, #DisagreeUpd) {
  background-color: crimson;
}

.popupButtonPanel :first-child {
  background-color: greenyellow;
}

.popupButtonPanel :last-child {
  background-color: crimson;
}
/*# sourceMappingURL=popup.css.map */