.SliderSection{
    padding-top: 1rem;
    display:flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}



input{
  outline: none !important;
  outline-style: none;
}
.slider {
    width: 99%;
    
    -webkit-appearance: none;
    height: 8px;
    border-radius: 4px;
    
    background-color: rgb(200, 200, 200);
    
    
    
  }
  //#brightnesSlider{
    
   /* &::before{
      
      max-width: 500px;
      position: absolute;
      color: #777;
      content: '4';
      padding-right: 1%;
      //padding: 40px;
      word-spacing:normal;
      left: 91%;
      font-size: larger;
      top: -3px;
      text-align: right; 
     // background-color: aqua;
      z-index: -1;
      
    }

    &::after{
      
      max-width: 500px;
      position: absolute;
      color: #777;
      padding-left: 1%;
      content: '0.5';
      //padding: 40px;
      word-spacing:normal;
      left: 4.5%;
      font-size: larger;
      top: -3px;
     // background-color: aqua;
      z-index: -1;
      
    }*/
  //}
  
  .slider::-webkit-slider-thumb {
      
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 10px;
    background-color: hsl(0, 0%, 100%);
    overflow: visible;
    border: 0.1px solid black;
    cursor: pointer;
  }
  
  .slidecontainer {
    position:relative;
    width: 100%;
    transform: translateY(-10px);
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: auto;
    align-items: center;
    justify-content: center;
    #diodsSlider{
      width: fit-content;
      display: block;
      
      font-size: larger;
      background-color: white;
      text-align: center;
      border-radius: 0px;
      height: 40px;
      padding: 0 !important;
      margin: 0 !important;
      border: 0.1px solid;
      outline: none;
      font-family: 'Montserrat', sans-serif;
      
    }
    p{
      grid-column: 2;
      grid-row: 2;
      width:100%;
      text-align: center;
      padding:0;
    }
    span{
      font-size: smaller;
      color:gray;
      padding:0px;
      width:100%;

      text-align: center;

    }
    .LEDwrap{ grid-column: 2;
    display:flex;
    align-items: center;
    justify-content: center;
    }
  }
.LEDbtn{
  border-radius: 100%;
  width:40px;
  height: 40px;
  font-size: normal;
  background-color: lightgreen;
  color: black;
  text-align: center;
  display:flex;
  align-items: center;
  justify-content: center;
  border: 0.1px solid;
  &:active{
    background-color: rgb(98, 252, 38);
    transform: scale(1.05, 1.05);
  }
  
  span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    color: black;
    
  }
  
  user-select: none;
  &:focus{
    outline: none !important;
  }
  &:first-of-type{
    border-radius: 100% 0 0 100%;
  }
  &:last-of-type{
    border-radius: 0 100% 100% 0;
  }
}



input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button{
   -webkit-appearance:initial;
}