html{
    background-color: whitesmoke; 
}
body{
    background-color: whitesmoke;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}
.contentWrapper{
main{
    position:relative;
}
    
}
main, header{
    background-color: white;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}
header{
     
    display: flex;
    justify-content: center;
    align-items: center;
    
    button{
        @media (max-width:599px) {
        width: 20vw;
        height: 20vw;
        }
        width: 100px;
        height: 100px;
        align-self: center;
        border-radius: 15px;
    }
    img{
        padding: 15px;
        width:70%;
        align-self: center;
        justify-self: center;

        
    }

    
}